
.wd1{
  font-size: 1.5rem;
  color: white;
}
body{
  background-color: black;
}
h1{
  color: white;
}
h2{
color: white;
font-family: 'Georama', sans-serif;
}
h3{
  color: white;
  font-family: 'Georama', sans-serif;
}
h4{
  color: white;
  font-family: 'Georama', sans-serif;
}
.wd0{
  height: auto; width: 360px;
}
.wd2 h2{
  text-align: center;
  color: yellow;
}
.wd3{
  position: relative;
  top: 10px;
}
